# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE TUPLAS

### Ejercicio 1
Crear una tupla vacía

In [16]:
# Escribe tu solución aquí

tupla_vacia = ()
print(tupla_vacia)

()

### Ejercicio 2
Crear una tupla con algunos elementos

In [17]:
# Escribe tu solución aquí

tupla = (1, 2, 3, 4, 5)
print(tupla)

(1, 2, 3, 4, 5)

### Ejercicio 3
Acceder a un elemento de la tupla

In [18]:
# Escribe tu solución aquí

elemento = tupla[2]  
print(elemento)

3

### Ejercicio 4
Intentar modificar un elemento de la tupla (esto producirá un error ya que las tuplas son inmutables)

In [19]:
# Escribe tu solución aquí
# Intenta modificar un elemento de la tupla
# Creamos una tupla
mi_tupla = (1, 2, 3, 4)

# Intentamos cambiar el segundo elemento
mi_tupla[1] = 10  # Esto producirá un error

TypeError: 'tuple' object does not support item assignment

### Ejercicio 5
Concatenar dos tuplas

In [ ]:
# Escribe tu solución aquí

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

(1, 2, 3, 4, 5, 6)

### Ejercicio 6
Obtener la longitud de una tupla

In [ ]:
# Escribe tu solución aquí
print(len(tupla1))  
print(len(tupla2))  
print(len(tupla_concatenada))

3
3
6

### Ejercicio 7
Convertir una tupla en una lista

In [ ]:
# Escribe tu solución aquí

mi_tupla = (1, 2, 3, 4, 5)
mi_lista = list(mi_tupla)
print(mi_lista)

[1, 2, 3, 4, 5]

### Ejercicio 8
Convertir una lista en una tupla

In [ ]:
# Escribe tu solución aquí

mi_lista = [1, 2, 3, 4, 5]
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(1, 2, 3, 4, 5)

### Ejercicio 9
Crear una tupla de números enteros y calcular su suma y promedio

In [ ]:
# Escribe tu solución aquí
tupla_numeros = (1, 2, 3, 4, 5)
suma = sum(tupla_numeros)
print(suma)

15

### Ejercicio 10
Crear dos tuplas de la misma longitud y crear una nueva tupla que contenga la suma de los elementos correspondientes de ambas tuplas

In [ ]:
# Escribe tu solución aquí

tupla1 = (1, 2, 3, 4)
tupla2 = (5, 6, 7, 8)

# Crear una nueva tupla con la suma de los elementos correspondientes
tupla_suma = tuple(a + b for a, b in zip(tupla1, tupla2))

# Resultados
print("Tupla 1:", tupla1)
print("Tupla 2:", tupla2)
print("Tupla suma:", tupla_suma)

Tupla 1: (1, 2, 3, 4)
Tupla 2: (5, 6, 7, 8)
Tupla suma: (6, 8, 10, 12)

### Ejercicio 11
Crear una tupla de nombres y ordenarla alfabéticamente

In [2]:
# Escribe tu solución aquí

nombres = ("Ana", "Luis", "Carlos", "Beatriz")
nombres_ordenados = tuple(sorted(nombres))
print(nombres_ordenados)

('Ana', 'Beatriz', 'Carlos', 'Luis')

### Ejercicio 12
Crear una tupla de números y encontrar el valor mínimo y máximo

In [3]:
# Escribe tu solución aquí
tupla = (1, 2, 3, 4, 5)
minimo = min(tupla)
maximo = max(tupla)
print("Mínimo:", minimo)
print("Máximo:", maximo)

Mínimo: 1
Máximo: 5

### Ejercicio 13
Crear una tupla de números y convertirla en una lista

In [5]:
# Escribe tu solución aquí
number = (1, 2, 3, 4, 5, 3, 2, 1)
lista_number = list(number)
print(lista_number)

[1, 2, 3, 4, 5, 3, 2, 1]

### Ejercicio 14
Crear una tupla con los días de la semana y mostrar el tercer elemento

In [7]:
# Escribe tu solución aquí

dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
print(dias_semana[2])

Miércoles

### Ejercicio 15
Crear una tupla con números enteros y mostrar aquellos que son pares

In [1]:
# Escribe tu solución aquí
tupla_numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numeros_pares = tuple(num for num in tupla_numeros if num % 2 == 0)
print(numeros_pares)

(2, 4, 6, 8, 10)

### Ejercicio 16
Crear una tupla con los meses del año y mostrar aquellos que tienen más de cinco letras

In [2]:
# Escribe tu solución aquí
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
meses_mas_de_cinco_letras = tuple(mes for mes in meses if len(mes) > 5)
print(meses_mas_de_cinco_letras)

('Febrero', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre')

### Ejercicio 17
Crear una tupla con las edades de varias personas y mostrar la cantidad de personas mayores de 18 años

In [3]:
# Escribe tu solución aquí
edades = (15, 22, 18, 30, 12, 25, 17, 19)
mayores_de_edad = sum(1 for edad in edades if edad >= 18)
print("Cantidad de personas mayores de edad:", mayores_de_edad)

Cantidad de personas mayores de edad: 5

### Ejercicio 18
Crear una tupla de tuplas que contienen información de libros y mostrar el título del tercer libro

In [5]:
# Escribe tu solución aquí
libros = (
    ("Cien Años de Soledad", "Gabriel García Márquez", 1967),
    ("1984", "George Orwell", 1949),
    ("El Principito", "Antoine de Saint-Exupéry", 1943),
    ("Don Quijote de la Mancha", "Miguel de Cervantes", 1605)
)
print("Título del tercer libro:", libros[2][0])

Título del tercer libro: El Principito